<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
				list-style-type: none;
			}
			.topnav{
				display: flex;
				flex-direction: row;
				width: 100%;
				height: 50px;
			}
			.topnav li{
				width: 50%;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				border-bottom: 5px solid yellow;
				cursor: pointer;
			}
			.topnav li.active{
				color: red;
				border-bottom-color: red;
				
			}
		</style>
	</head>
	<body>
		<div id="app">
			<ul class="topnav">
				<li :class="{'active':pageindex==1}" @click="pageindex=1">影片</li>
				<li :class="{'active':pageindex==2}" @click="pageindex=2">影院</li>
			</ul>
			<!--组件的加载                    两种组件加载方式    下面的方法时动态加载组件-->    
			<!--<yingpian v-if="pageindex==1"></yingpian>
			<yingyuan v-if="pageindex==2"></yingyuan>--> 
			<component :is="pageindex==1?'yingpian':'yingyuan'"></component>   <!--这种方式如果有3个组件就用计算属性-->
			
		</div>
		<template id="yingpian">
			<div>这是影片列表</div>
		</template>
		<template id="yingyuan">
			<div>这是影院列表</div>
		</template>
	</body>
	<script type="text/javascript" src="js/vue.js" ></script>
	<script>
		var yingpian={
			template:"#yingpian"
		}
		var yingyuan={
			template:"#yingyuan"
		}
		new Vue({
			el:"#app",
			components:{
				yingpian,yingyuan
			},
			data:{
				pageindex:1
			}
		});
	</script>
</html>
